---
title: Noel Welsh
---
<div class="row">
    <div class="col mb-4">
        <h1 class="display-1 mb-0 text-center">Noel Welsh</h1>
        <p class="lead text-center">I like functional programming, machine learning, and computer art</p>
    </div>
</div>
